:root {
    --main: #fdf0e5;
    --secondary: white;
    --font-primary: black;
    --font-secondary: #3A10E5;
}

html {
    background-color: var(--main);
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

 h2 {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

a > img {
    border-bottom: solid 1px black;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    min-height: 50px;
    border-bottom: solid 1px black;
    background-color: #fdf0e5;
    z-index: 1;
    text-align:left;
}

header div {
    display: inline-block;
    transform: translateY(50%);
    padding: 0 25px;
}

header a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 7px;
    border-radius: 10px;
}

header a:hover {
    color: var(--secondary);
    background-color: var(--font-secondary);
}

footer {
    border-top: solid 1px black;
    padding: 25px 0;
    width: 100%;
    margin-top: auto;
}

.content {
    margin: auto;
    width: 80%;
}

.content.header {
    font-size: 50px;
    text-align: right;
    margin-bottom: 230px;
    line-height: 100px;
}

.content.subtitle {
    font-size: 20px;
    text-align: right;
}

.container {
    padding: 50px;
}

.bg {
    background-color: white;
}

#Projects, #About, #Experience {
    margin-top: 50px;
}
section {
    margin-top: 50px;
}

#Projects {
    overflow: auto;
}

#Projects .container, #Skills .contain {
    /* display: flex;
    justify-content:space-evenly;
    min-height: min-content; */
    flex: 1;
    display: flex;
}

.box {
    display: flex;
    min-height: min-content;
    overflow: auto;
    padding: 10px 0;
}

.right {
    text-align: right;
    direction: rtl;
}

.right ul li::marker {
    text-align: right;
}

.card {
    max-width: 325px;
    min-width: 325px;
    border-radius: 2px;
    border: solid 1px var(--main);
    background-color: var(--secondary);
    margin: 0 25px;
}

.stack-container {
    border: solid 1px black;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top:5px;
    padding: 5px;
}

.interactive {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: solid 1px var(--font-primary);
    border-radius: 2px;
}

.interactive:hover {
    box-shadow: -10px 10px black;
    transform: translate(5px, -5px);
}

.project-title, .project-desc, .project-footer {
    width: 90%;
    margin: auto;
}

.project-title, .project-desc {
    border-bottom: solid 1px black;
}

.project-desc {
    height: 100px;
    overflow: hidden;
}

.project-footer {
    padding: 10px;
}

.project-footer a {
    color: var(--font-secondary);
    border-radius: 5px;
    padding: 7.5px;
}

.project-footer span {
    position: absolute;
    transform: translate(0, 50%);
}

.flex-responsive {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-footer a:hover {
    /* background-color: var(--main); */
}

.content.Contact {
    width: 80%;
}

.content.Contact div {
    width: -moz-fit-content;
    width: fit-content;

    display: inline-block;
    border-radius: 3px;
    border: solid 1px black;
    padding: 10px;
    margin-right: 15px;
}

.link {
    color: var(--font-secondary);
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media only screen and (max-width: 822px) {
    .card {
        margin: 0;
    }

    #Skills, .flex-responsive {
        flex-direction: column;
    }

    .flex-responsive > img {
        width: 100% !important;
        margin: 25px 0;
    }
}

@media only screen and (max-width: 620px) {
    header {
        text-align: center;
    }
    
    header div {
        padding: 0 5px;
    }

    .content.header {
        font-size: 30px;
    }
    
    .content.subtitle {
        font-size: 10px;    
    }

    .content.Contact div {
        padding: 5px;
        margin: 0;
    }
}