:root {
    --main: #fdf0e5;
    --secondary: white;
    --font-primary: black;
    --font-secondary: #3A10E5;
    --color-beige: #F5E3D2;
    --color-light: #FFC35B;
    --color-warning: #EF6A83;
    --color-night: #10162F;
    --color-blue: #2E4A99;
}

html {
    background-color: var(--main);
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

a > img {
    border-bottom: solid 1px black;
}

header {
    border-bottom: solid 1px black;
    background-color: #fdf0e5;
    position: -webkit-sticky;
    position: sticky;
    min-height: 50px;
    text-align:left;
    top: -1px;
    z-index: 1;
    display: flex;
    align-items: center;
}

header a {
    padding: 0 25px;
    display: inline;
    position: relative;
    overflow: hidden
}

header a:after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0%;
    bottom: -5px;
    background: var(--font-secondary);
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

header a:hover:after,
header a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.content {
    padding: 2%;
}

.title {
    font-size: 75px;
    text-align: right;
    line-height: 100px;
}

.content.subtitle {
    text-align: right;
}

.flex-responsive {
    display: flex;
    justify-content: space-evenly;
}

.bg {
    background-color: white;
}

#About {
    margin-top: 5vh;
}

#About {
    background-color: var(--color-light);
    padding: 2% 5%;
    color: var(--font-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Projects, #Skills, #Experience, .Project-Content {
    padding: 5vw;
}

#Projects {
    overflow: auto;
}

.container {
    padding: 5vw;
}

.wrapper {
    flex: 1;
    display: flex;
    overflow: auto;
}

.box {
    display: flex;
    justify-content: center;
    min-height: min-content;
    padding: 10px 0;
}

#Skills {
    /* background-color: var(--font-secondary); */
    background-color: #2E4A99;
}

#Skills list {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

#Skills h1, #Skills p, #Skills li {
    color: var(--color-beige);
}

.right {
    text-align: right;
    direction: rtl;
}

.right ul li::marker {
    text-align: right;
}

.card {
    max-width: 325px;
    min-width: 277px;
    border-radius: 2px;
    border: solid 1px var(--main);
    background-color: var(--color-night);
    margin: 0 25px;
}

.stack-container {
    border: solid 1px black;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top:5px;
    padding: 5px;
}

.interactive {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: solid 1px var(--color-night);
    border-radius: 2px;
}

.interactive:hover {
    box-shadow: -10px 10px var(--color-night);
    transform: translate(5px, -5px);
}

.project-title, .project-desc, .project-footer {
    padding: 5%;
}

.project-desc {
    padding: 10px;
}

.project-footer {
    padding: 10px;
}

.project-footer a {
    color: var(--font-secondary);
    border-radius: 5px;
    padding: 7.5px;
}

.project-footer span {
    position: absolute;
    transform: translate(0, 50%);
}

#Experience {
    background-color: var(--color-night);
    color: var(--color-beige);
}

#Experience .Extra {
    border-top: dotted 3px;
    border-color: var(--color-beige);
}

#Contact {
    padding: 0 5vw 0.83em;
}

#Contact article {
    padding: 0.5em;
    width: fit-content;
    display: inline-block;
    border: solid 1px var(--color-night);
    transition: 0.2s all;
}

#Contact article:hover {
    box-shadow: -10px 10px var(--color-night);
    transform: translate(0.25vw, -0.25vw);
}

.artboard1, .artboard2, .artboard3, .artboard4 {
    background-size: cover;
    padding: 5%;
} 

.artboard1 {
    background-image: url("/Assets/Artboard\ 1.svg");
}

.artboard2 {
    background-image: url("/Assets/Artboard\ 2.svg");
}

.artboard3 {
    background-image: url("/Assets/Artboard\ 3.svg");
    background-position-x: right;
}

.artboard4 {
    background-image: url("/Assets/Artboard\ 4.svg");
}

.link {
    color: var(--font-secondary);
    text-decoration: underline;
}


@media only screen and (max-width: 822px) {
    .card {
        margin: 0;
    }

    #Skills, .flex-responsive {
        flex-direction: column;
    }

    .flex-responsive > img {
        width: 100% !important;
        margin: 25px 0;
    }
}

@media only screen and (max-width: 620px) {
    header {
        justify-content: space-evenly;
    }

    #Skills list {
        flex-direction: column;
    }

    header a {
        padding: 0px;
    }

    .title {
        font-size: 60px;
        line-height: 60px;
    }
}