html {
    background-color: #fdf0e5;
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

a > img {
    height: 150px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 50px;
    border-bottom: solid 1px black;
    background-color: #fdf0e5;
    z-index: 1;
}

header div {
    display: inline-block;
    transform: translateY(50%);
    float: right;
    padding: 0 25px;
    border-left: solid 1px black;
}

header a:hover {
    color: #3A10E5;
}

footer {
    border-top: solid 1px black;
    height: 100px;
    padding: 25px 0;
    width: 100%;
    margin-top: auto;
}

.content {
    margin: auto;
    width: 80%;
}

.content.header {
    font-size: 50px;
    text-align: right;
    margin-bottom: 230px;
    line-height: 90px;
}

.content.subtitle {
    font-size: 20px;
    text-align: right;
}

.Experience {
    background-color: white;
    width: 100%;
    height: 150px;
}

.card {
    display: inline-block;
    width: 325px;
    border-radius: 2px;
    border: solid 1px black;
    background-color: white;
    margin-right: 100px;
}

.interactive {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.interactive:hover {
    box-shadow: -10px 10px black;
    transform: translate(5px, -5px);
}

.project-title {
    margin: 10px;
    border-bottom: solid 1px black;
}

.project-desc {
    margin: 10px;
}

.project-footer {
    margin: 0 10px;
    border-top: solid 1px black;
    position: relative;
    min-height: 46px;
}

.project-footer a {
    color: #3A10E5;
    border-radius: 5px;
    padding: 7.5px;
}

.project-footer span {
    position: absolute;
    transform: translate(0, 50%);
}

.project-footer a:hover {
    background-color: #f6f5fa;
}

i.fa-external-link-alt {
    font-size: 13px;
}

.content.Contact {
    transform: translate(0, 50%);
}

.content.Contact span {
    width: -moz-fit-content;
    width: fit-content;

    display: inline-block;
    border-radius: 3px;
    border: solid 1px black;
    padding: 10px;
    margin-right: 15px;
}

